<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

    <div class="container mt-5">
        <h2 class="text-center mb-4">Lista de Reportes</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>codigo</td>
                    <td>Tipo</td>
                    <td>Descripcion</td>
                    <td>Ubicacion</td>
                    <td>estatus</td>
                    <td>Imagen</td>
                </tr>
            </thead>
            <tbody>
                {% for p in reportes %}
                <tr>
                    <td>{{ p.codigo }}</td>
                    <td>{{ p.tipo }}</td>
                    <td>{{ p.descripcion }}</td>
                    <td>{{ p.ubicacion }}</td>
                    <td>{{ p.estatus }}</td>

                    <td>
                        {% if p.imagen %}
                        <img src="{{ p.imagen.url }}" alt="Report Image" style="max-width: 100px; max-height: 100px;">
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>